html, body {
    height: 100%;
    margin: 0;
    background-color: #390707;
}

section {
    margin-top: 100px;
}

#displayCalculator {
    background-color: #272849;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 2em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.screen {
    background-color: #FFFFFF;
    height: 50px;
    margin: 3px 21px;
    padding: 3px 0 15px;
    font-size: 1.5em;
}

.row {
    padding-bottom: 7px;
}

a {
    margin-left: 10px;
    width: 40px;
}

.evaluate {
    margin-left: 4px;
    width: 100px;
}
